*

!/content-service/
!/content-service/*
!/content-service/**

!/upload-service/
!/upload-service/*
!/upload-service/**

!/user-service/
!/user-service/*
!/user-service/**

!/deployment/
!/deployment/*

!Makefile
!.gitignore
